body {
  height: 100%;
  padding: 10px 20px;
  font-family: cursive;
  background-color: blueviolet;
  text-align: left;
  animation: colorful 0.7s;
  animation-iteration-count: infinite;
}
.content {
  padding-bottom: 20px;
  border-bottom: 3px solid white;
}
.header {
  margin-left: 50px;
}
h2 {
  color: white;
}
ul li {
  display: inline;
}
li:nth-child(even) {
  margin: 0 20px;
}
span {
  text-decoration: underline;
}
a {
  color: black;
}
img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  border: 1.5px solid rgba(61, 65, 64, 0.5);
}
img:hover {
  animation: rot 4s;
}

/* image animation */

@keyframes rot {
  60% {
    border-radius: 100px;
    transform: rotate(3000deg);
    height: 300px;
    width: 300px;
  }
}

/* page animation */

@keyframes colorful {
  0% {
    background-color: blue;
  }
  20% {
    background-color: orange;
  }
  40% {
    background-color: green;
  }
  60% {
    background-color: yellow;
  }
  80% {
    background-color: red;
  }
  100% {
    background-color: blueviolet;
  }
}
